streamlit
python-dotenv
PyPDF2
langchain
langchain-community
sentence-transformers
openai
faiss-cpu
pygame
sounddevice
numpy
scipy
speechrecognition
gtts
pdfplumber
pandas
plotly.express
matplotlib
seaborn



